.navbar-inverse .navbar-brand {
  font-family: 'Play', sans-serif;
}

html, body {
  height: 100%;
}

.crest, .flag {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

.country-header {
  display: inline-block;
  padding-left: 25px;
  padding-right: 25px;
}

.stat {
  font-size: 2em;
}

.stat-description {
  font-size: 1em;
  margin-top: -.5em;
}

.nickname {
  font-style: italic;
}

.tile {
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #fff;
}

.wc-1 {
  background: #4da526;
  color: #fff;
}

.wc-2 {
  background: #ffda00;
  color: #111;
}

.wc-3 {
  background: #1f4674;
  color: #fff;
}

.usa-1 {
  background: #d31145;
  color: #fff;
}

.usa-2 {
  background: #f4f4f4;
  color: #333;
}

.usa-3 {
  background: #00549f;
  color: #fff;
}

.germany-1 {
  background: #000;
  color: #fff;
}

.germany-2 {
  background: #dd0000;
  color: #fff;
}

.germany-3 {
  background: #ffce00;
  color: #000;
}

.country-section {
  background: #ccc;
}

.crest-algeria {
  background-image: url(./assets/crests/algeria.svg);
}

.crest-argentina {
  background-image: url(./assets/crests/argentina.svg);
}

.crest-australia {
  background-image: url(./assets/crests/australia.svg);
}

.crest-belgium {
  background-image: url(./assets/crests/belgium.svg);
}

.crest-bosnia {
  background-image: url(./assets/crests/bosnia.svg);
}

.crest-brazil {
  background-image: url(./assets/crests/brazil.svg);
}

.crest-cameroon {
  background-image: url(./assets/crests/cameroon.svg);
}

.crest-chile {
  background-image: url(./assets/crests/chile.svg);
}

.crest-columbia {
  background-image: url(./assets/crests/columbia.svg);
}

.crest-costa-rica {
  background-image: url(./assets/crests/costa-rica.svg);
}

.crest-croatia {
  background-image: url(./assets/crests/croatia.svg);
}

.crest-ecuador {
  background-image: url(./assets/crests/ecuador.svg);
}

.crest-england {
  background-image: url(./assets/crests/england.svg);
}

.crest-france {
  background-image: url(./assets/crests/france.svg);
}

.crest-germany {
  background-image: url(./assets/crests/germany.svg);
  height: 36px;
  width: 36px;
}

.crest-ghana {
  background-image: url(./assets/crests/ghana.svg);
}

.crest-greece {
  background-image: url(./assets/crests/greece.svg);
}

.crest-honduras {
  background-image: url(./assets/crests/honduras.svg);
}

.crest-iran {
  background-image: url(./assets/crests/iran.svg);
}

.crest-italy {
  background-image: url(./assets/crests/italy.svg);
}

.crest-ivory-coast {
  background-image: url(./assets/crests/ivory-coast.svg);
}

.crest-japan {
  background-image: url(./assets/crests/japan.svg);
}

.crest-korea {
  background-image: url(./assets/crests/korea.svg);
}

.crest-mexico {
  background-image: url(./assets/crests/mexico.svg);
}

.crest-netherlands {
  background-image: url(./assets/crests/netherlands.svg);
}

.crest-nigeria {
  background-image: url(./assets/crests/nigeria.svg);
}

.crest-portugal {
  background-image: url(./assets/crests/portugal.svg);
}

.crest-russia {
  background-image: url(./assets/crests/russia.svg);
}

.crest-spain {
  background-image: url(./assets/crests/spain.svg);
}

.crest-switzerland {
  background-image: url(./assets/crests/switzerland.svg);
}

.crest-uruguay {
  background-image: url(./assets/crests/uruguay.svg);
}

.crest-usa {
  background-image: url(./assets/crests/usa.svg);
  height: 36px;
  width: 36px;
}

.flag-germany {
  background-image: url(./assets/flags/germany.svg);
  height: 36px;
  width: 70px;
}

.flag-usa {
  background-image: url(./assets/flags/usa.svg);
  height: 36px;
  width: 70px;
}
