.navbar-brand, .navbar-nav, .signature {
  font-family: 'Play', sans-serif;
}

.navbar, .footer {
  background: rgb(86,  97, 115);
  border-color: rgb(61,  72,  90);
}

.footer {
  border-top: 1px solid;
  color: #fff;
  padding-top: 10px;
  margin-top: 50px;
}

.footer a {
  color: #fff;
}

.footer .glyphicon {
  margin-left: 5px;
  margin-right: 5px;
}

.footer .glyphicon.credit {
  margin-right: 8px;
}

.footer a:hover {
  text-decoration: underline;
}

.navbar a {
  color: #fff;
}

.navbar-nav > li > a:hover {
  background: rgb(61,  72,  90);
  color: #fff;
}

.graph {
  margin-top: 50px;
}

.tournament {
  width: 930px;
}

.tournament > .row {
  margin: 0;
}

.social-buttons > iframe {
  width: 80px !important;
}

html, body {
  height: 100%;
  font-family: 'Arimo', sans-serif;
  background: #eee;
}

.stat {
  font-size: 20px;
}

.stat-description {
  font-size: 12px;
  margin-top: -2px;
}

.stat-center {
  text-align: center;
}

.stat-right {
  text-align: right;
}

.tile {
  border: 2px solid #eee;
  padding: 2px 10px 2px 10px;
}

.col-md-9 {
  width: 100px;
}

.wc-1 {
  background: rgba(0, 155, 58, .85);
  color: #fff;
}

.wc-2 {
  background: rgba(254, 223, 0, .7);
  color: #333;
}

.wc-3 {
  background: rgba(0, 39, 118, .8);
  color: #fff;
}

.legend, .tick text {
  font-family: 'Arimo', sans-serif;
  fill: #222;
}

.bar {
  fill: #ccc;
}

.wins {
  fill: #29AB87;
}

.draws {
  fill: #FF7F50;
}

.losses {
  fill: #86608E;
}

.best-1 {
  fill: #E6BE00;
}

.best-2 {
  fill: #C0C0C0;
}

.best-3 {
  fill: #CD7F32;
}

.best-4 {
  fill: #5D8AA8;
}

.best-5, .best-6, .best-7, .best-8, .best-9, .best-10 {
  fill: #74C365;
}

.best-11, .best-12, .best-13, .best-14, .best-15, .best-16, .best-17, .best-18, .best-19, .best-20 {
  fill: #9966CC;
}

.best-21, .best-22, .best-23, .best-24, .best-25, .best-26, .best-27, .best-28, .best-29, .best-30 {
  fill: #BE3333;
}

.odds-20 {
  fill: #177245;
}

.odds-10 {
  fill: #318C5F;
}

.odds-1 {
  fill: #4AA578;
}

.odds-not-1 {
  fill: #64BF92;
}

.axis {
  font-size: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.x.axis .tick {
  display: none;
}

.championships, .years {
  text-anchor: middle;
  fill: #fff;
  font-size: 10px;
}

.gdp-ten-trillion {
  fill: #802000;
}

.gdp-two-trillion {
  fill: #993900;
}

.gdp-one-trillion {
  fill: #B35300;
}

.gdp-half-trillion {
  fill: #CC6C00;
}

.gdp-quarter-trillion {
  fill: #E68600;
}

.gdp-not-quarter-trillion {
  fill: #FF9F00;
}

.population-200-million {
  fill: #6C3082;
}

.population-100-million {
  fill: #864A9C;
}

.population-50-million {
  fill: #9F63B5;
}

.population-25-million {
  fill: #B97DCF;
}

.population-10-million {
  fill: #D296E8;
}

.population-not-10-million {
  fill: #EBAFFF;
}

.income-50k {
  fill: #236DA0;
}

.income-30k {
  fill: #3D87BA;
}

.income-15k {
  fill: #56A0D3;
}

.income-5k {
  fill: #70BAED;
}

.income-not-5k {
  fill: #89D3FF;
}

.tooltip-inner {
  background: #333;
  color: #fff;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #333;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #333;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #333;
}

body {
  min-width: 970px;
}

.container {
  width: 970px;
  max-width: none !important;
}

.container .navbar-header {
  margin-right: 0;
  margin-left: 0;
}

.navbar-header {
  float: left;
}

.navbar-brand {
  margin-left: -15px;
}

.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 15px;
}

.navbar-nav.navbar-right {
  float: right;
}
